@page "/Cliente/Delete/{ClienteId:int}"
@inject ClientesService clientesService
@inject NavigationManager navigationManager

<PageTitle>Eliminar Cliente</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5 class="card-title">Eliminar Cliente</h5>
        </div>

        <div class="card-body text-center">
            <p>¿Está seguro de que desea eliminar al cliente <strong>@Cliente?.Nombres</strong>?</p>
            <p>Esta acción no se puede deshacer.</p>
            <ValidationMessage For="(() => Message)" />
        </div>

        <div class="card-footer text-center mt-2">
            <a href="/Cliente/Index" class="btn btn-secondary"> <span class="bi bi-arrow-left"></span> Volver</a>
            <button type="button" class="btn btn-danger bi bi-trash" @onclick="Eliminar"> Eliminar</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int ClienteId { get; set; }

    public Clientes Cliente { get; set; } = new Clientes();
    public string? Message { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Cliente = await clientesService.Buscar(ClienteId);
    }

    private async Task Eliminar()
    {
        var eliminado = await clientesService.Eliminar(Cliente.ClientesId);

        if (eliminado)
        {
            Message = "Se ha eliminado correctamente";
            
            navigationManager.NavigateTo("/Cliente/Index");
        }
        else
        {
            Message = "No se ha podido eliminar correctamente";
        }
    }
}