@page "/Tecnico/Index"
@inject TecnicosService tecnicosService
@rendermode InteractiveServer

<PageTitle>Registro de Tecnicos</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header space-between">
            <h5 class="card-title">Registro de Tecnicos</h5>
            <a href="/Tecnico/Create" class="btn btn-primary"> <span class="bi bi-plus-square mt-3"></span> Crear</a>
        </div>

        <div class="card-body">

            @*labels*@
            <div class="row">

                @*Filtrar por*@
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                </div>

                @*ValorFiltro*@
                <div class="col-4">
                    <label class="col-form-label"><strong>B&uacute;squeda</strong></label>
                </div>
            </div>

            @*Inputs y botones*@
            <div class="row align-items-center">
                @*filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Elija una opci&oacute;n</option>
                        <option value="Id">Id</option>
                        <option value="Nombres">Nombres</option>
                    </InputSelect>
                </div>

                @*Busqueda*@
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>

            </div>

            <table class="table table-hover">
                <thead class="table  table-striped text-black">
                    <tr>
                        <th>TecnicoId</th>
                        <th>Nombres</th>
                        <th>SueldoHoras</th>
                        
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tecnico in ListaTecnicos)
                    {
                        <tr>
                            <td> @tecnico.TecnicosId</td>
                            <td> @tecnico.Nombres</td>
                            <td> @tecnico.SueldoHoras</td>

                            
                            <td>
                                <a href="/Tecnico/Edit/@tecnico.TecnicosId" class="btn btn-outline-primary bi bi-pencil-square"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer space-between">
            <label>Cantidad de tecnicos:  @ListaTecnicos.Count()</label>
    
        </div>
    </div>
</div>


@code {

    public List<Tecnicos> ListaTecnicos { get; set; } = new List<Tecnicos>();

    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaTecnicos = await tecnicosService.Listar(t => t.TecnicosId > 0);
    }

    private async Task Buscar()
    {
        if (ValorFiltro.Trim() != "")
        {
            if (Filtro == "Id" && int.TryParse(ValorFiltro, out int tecnicoId))
            {
                ListaTecnicos = await tecnicosService.Listar(t => t.TecnicosId == tecnicoId);

            }
            else if  (Filtro == "Nombres")
            {
                ListaTecnicos = await tecnicosService.Listar(t => t.Nombres.ToLower().Contains(ValorFiltro.ToLower()));
            }
            
        }
        else
            ListaTecnicos = await tecnicosService.Listar(t => t.TecnicosId > 0);
    }

    
   

}
